<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Фрагменты категорий</title>
</head>
<body class="container bg-dark text-light p-4">

<!-- Рекурсивный список категорий -->
<div th:fragment="categoryList(categories)">
  <ul>
    <li th:each="category : ${categories}">
      <form th:action="@{/categories/update/{id}(id=${category.id})}" method="post" style="display:inline;">
        <label>
          <input type="text" name="newName" th:value="${category.name}" required/>
        </label>
        <button type="submit">Редактировать</button>
      </form>
      <form th:action="@{/categories/delete/{id}(id=${category.id})}" method="post" style="display:inline;">
        <button type="submit">Удалить</button>
      </form>

      <!-- Вызов рекурсивного метода для отображения дочерних категорий -->
      <ul th:if="${#lists.size(category.children) > 0}">
        <th:block th:replace="fragments/categoryTree :: categoryList(categories=${category.children})"></th:block>
      </ul>

    </li>
  </ul>
</div>

</body>
</html>