<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container bg-dark text-light p-4">
<div >
    <h1>404 - Page Not Found</h1>
    <p>Случилась ошибка, может Вы написали неверный путь?    </p>
<!--    <a th:href="@{/notes/view/all}" class="btn btn-primary">Домой</a>-->
    <a href="javascript:history.back()" class="btn btn-primary">Назад</a>
</div>
</body>
</html>