<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reminder</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container bg-dark text-light p-4">

<h1>Добавить напоминание</h1>

<form action="#" th:action="@{/notes/{noteId}/reminders(noteId=${note.id})}" method="post">
    <input type="hidden" th:field="*{note.id}" />

    <label for="reminderTime">Время:</label>
    <input type="datetime-local" id="reminderTime" name="reminderTime" required placeholder="Reminder Time"/>

    <button type="submit">Добавить</button>
</form>

<a th:href="@{/notes/view/all}" class="btn btn-secondary">Назад</a>

</body>
</html>