<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>

</head>
<body>
<h1>Notes List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Pinned</th>
        <th>Tags</th>
        <th>Text</th>
        <th>User</th>
    </tr>
    <tr th:each="note: ${notes}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.category}"></td>
        <td th:text="${note.pinned}"></td>
        <td th:text="${#strings.listJoin(note.tags, ', ')}"></td>
        <td th:text="${note.text}"></td>
        <td th:text="${note.user}"></td>
    </tr>
</table>
<br />
<br />
<a th:href="@{/notes/create}">
    <button type="button" class="btn btn-primary" >

        Добавить заметку

    </button>
</a>

<br />
<br />
<br />
<br />
<br />
<form th:action="@{/api/reports}" method="post">

    <button type="submit" class="btn btn-primary" >
        Создать Отчет
    </button>
</form>
<br /><br />

<input type="number" id="numberInput" placeholder="Введите число" required>
<button class="button" onclick="goToSite()">Проверить Отчет</button>

<a th:href="@{/registration}"><button class="btn btn-lg btn-primary btn-block" >Зарегистрироваться</button></a>
<a th:href="@{/logout}"><button class="btn btn-lg btn-primary btn-block" >Выйти из аккаунта </button></a>
</body>
</html>

<script>
    function goToSite() {
        var number = document.getElementById('numberInput').value;
        if (number) {
            window.location.href = '/api/reports/' + number;
        } else {
            alert('Пожалуйста, введите число.');
        }
    }
</script>
