<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создание заметки</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h2>Создать новую заметку</h2>
  <form th:action="@{/notes/add}" th:object="${note}" method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" th:field="*{title}" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="text">Content:</label>
      <textarea id="text" th:field="*{text}" class="form-control" rows="5" required></textarea>
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <select id="category" th:field="*{category}" class="form-control" required>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.toString()}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="tags">Tags:</label>
      <select id="tags" th:field="*{tags}" class="form-control" multiple required>
        <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
      </select>
      <small>Можете выбрать несколько тегов зажав Ctrl</small>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" th:field="*{pinned}" class="form-check-input" id="pinned"/>
      <label class="form-check-label" for="pinned">Закрепить?</label>
    </div>

    <button type="submit" class="btn btn-primary">Создать заметку</button>
    <a th:href="@{/notes/view/all}" class="btn btn-secondary">Отмена</a>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>