<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Авторизуйтесь</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>


  <style>
    .arrow {
      font-size: 50px; /* Увеличиваем размер стрелки */
    }
  </style>
</head>
<body class="container bg-dark text-light p-4">
<div class="container">
  <form class="form-signin" method="post" action="#" th:action="@{/login}">
    <h2 class="form-signin-heading">Авторизуйтесь</h2>
    <div th:if="${param.logout}">
      <p>Для доступа к сайту <span class="arrow">↑</span>.</p>
    </div>
    <div class="form-group">
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </div>

    <!-- CSRF Token -->
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  </form>
  <a th:href="@{/registration}">
    <button class="btn btn-lg btn-secondary btn-block">Зарегистрироваться</button>
  </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>